/*
Atulya HTTP API

HTTP API for Atulya

API version: 0.8.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package atulya

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// CodebasesAPIService CodebasesAPI service
type CodebasesAPIService service

type ApiAnalyzeCodebaseImpactRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	codebaseImpactRequest *CodebaseImpactRequest
	authorization *string
}

func (r ApiAnalyzeCodebaseImpactRequest) CodebaseImpactRequest(codebaseImpactRequest CodebaseImpactRequest) ApiAnalyzeCodebaseImpactRequest {
	r.codebaseImpactRequest = &codebaseImpactRequest
	return r
}

func (r ApiAnalyzeCodebaseImpactRequest) Authorization(authorization string) ApiAnalyzeCodebaseImpactRequest {
	r.authorization = &authorization
	return r
}

func (r ApiAnalyzeCodebaseImpactRequest) Execute() (*CodebaseImpactResponse, *http.Response, error) {
	return r.ApiService.AnalyzeCodebaseImpactExecute(r)
}

/*
AnalyzeCodebaseImpact Analyze codebase impact

Run deterministic impact analysis from a path, symbol, or query over the codebase graph.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @return ApiAnalyzeCodebaseImpactRequest
*/
func (a *CodebasesAPIService) AnalyzeCodebaseImpact(ctx context.Context, bankId string, codebaseId string) ApiAnalyzeCodebaseImpactRequest {
	return ApiAnalyzeCodebaseImpactRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
	}
}

// Execute executes the request
//  @return CodebaseImpactResponse
func (a *CodebasesAPIService) AnalyzeCodebaseImpactExecute(r ApiAnalyzeCodebaseImpactRequest) (*CodebaseImpactResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseImpactResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.AnalyzeCodebaseImpact")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}/impact"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.codebaseImpactRequest == nil {
		return localVarReturnValue, nil, reportError("codebaseImpactRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.codebaseImpactRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApproveCodebaseRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	codebaseApproveRequest *CodebaseApproveRequest
	authorization *string
}

func (r ApiApproveCodebaseRequest) CodebaseApproveRequest(codebaseApproveRequest CodebaseApproveRequest) ApiApproveCodebaseRequest {
	r.codebaseApproveRequest = &codebaseApproveRequest
	return r
}

func (r ApiApproveCodebaseRequest) Authorization(authorization string) ApiApproveCodebaseRequest {
	r.authorization = &authorization
	return r
}

func (r ApiApproveCodebaseRequest) Execute() (*CodebaseApproveResponse, *http.Response, error) {
	return r.ApiService.ApproveCodebaseExecute(r)
}

/*
ApproveCodebase Approve a codebase snapshot for memory hydration

Explicitly approve the current or selected reviewable codebase snapshot so Atulya can hydrate source-file text into memory.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @return ApiApproveCodebaseRequest
*/
func (a *CodebasesAPIService) ApproveCodebase(ctx context.Context, bankId string, codebaseId string) ApiApproveCodebaseRequest {
	return ApiApproveCodebaseRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
	}
}

// Execute executes the request
//  @return CodebaseApproveResponse
func (a *CodebasesAPIService) ApproveCodebaseExecute(r ApiApproveCodebaseRequest) (*CodebaseApproveResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseApproveResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.ApproveCodebase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}/approve"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.codebaseApproveRequest == nil {
		return localVarReturnValue, nil, reportError("codebaseApproveRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.codebaseApproveRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCodebaseRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	authorization *string
}

func (r ApiGetCodebaseRequest) Authorization(authorization string) ApiGetCodebaseRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetCodebaseRequest) Execute() (*CodebaseResponse, *http.Response, error) {
	return r.ApiService.GetCodebaseExecute(r)
}

/*
GetCodebase Get codebase

Get codebase metadata plus current snapshot summary.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @return ApiGetCodebaseRequest
*/
func (a *CodebasesAPIService) GetCodebase(ctx context.Context, bankId string, codebaseId string) ApiGetCodebaseRequest {
	return ApiGetCodebaseRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
	}
}

// Execute executes the request
//  @return CodebaseResponse
func (a *CodebasesAPIService) GetCodebaseExecute(r ApiGetCodebaseRequest) (*CodebaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.GetCodebase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCodebaseChunkDetailRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	chunkId string
	authorization *string
}

func (r ApiGetCodebaseChunkDetailRequest) Authorization(authorization string) ApiGetCodebaseChunkDetailRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetCodebaseChunkDetailRequest) Execute() (*CodebaseChunkDetailResponse, *http.Response, error) {
	return r.ApiService.GetCodebaseChunkDetailExecute(r)
}

/*
GetCodebaseChunkDetail Get codebase chunk detail

Return detailed code preview, related chunks, symbols, and impact edges for one chunk.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @param chunkId
 @return ApiGetCodebaseChunkDetailRequest
*/
func (a *CodebasesAPIService) GetCodebaseChunkDetail(ctx context.Context, bankId string, codebaseId string, chunkId string) ApiGetCodebaseChunkDetailRequest {
	return ApiGetCodebaseChunkDetailRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
		chunkId: chunkId,
	}
}

// Execute executes the request
//  @return CodebaseChunkDetailResponse
func (a *CodebasesAPIService) GetCodebaseChunkDetailExecute(r ApiGetCodebaseChunkDetailRequest) (*CodebaseChunkDetailResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseChunkDetailResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.GetCodebaseChunkDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}/chunks/{chunk_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"chunk_id"+"}", url.PathEscape(parameterValueToString(r.chunkId, "chunkId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCodebaseReviewRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	authorization *string
}

func (r ApiGetCodebaseReviewRequest) Authorization(authorization string) ApiGetCodebaseReviewRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetCodebaseReviewRequest) Execute() (*CodebaseReviewResponse, *http.Response, error) {
	return r.ApiService.GetCodebaseReviewExecute(r)
}

/*
GetCodebaseReview Get codebase review summary

Return review queue counts, parse coverage, related chunk counts, and deterministic diagnostics for the current snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @return ApiGetCodebaseReviewRequest
*/
func (a *CodebasesAPIService) GetCodebaseReview(ctx context.Context, bankId string, codebaseId string) ApiGetCodebaseReviewRequest {
	return ApiGetCodebaseReviewRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
	}
}

// Execute executes the request
//  @return CodebaseReviewResponse
func (a *CodebasesAPIService) GetCodebaseReviewExecute(r ApiGetCodebaseReviewRequest) (*CodebaseReviewResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseReviewResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.GetCodebaseReview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}/review"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImportCodebaseGithubRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseImportGithubRequest *CodebaseImportGithubRequest
	authorization *string
}

func (r ApiImportCodebaseGithubRequest) CodebaseImportGithubRequest(codebaseImportGithubRequest CodebaseImportGithubRequest) ApiImportCodebaseGithubRequest {
	r.codebaseImportGithubRequest = &codebaseImportGithubRequest
	return r
}

func (r ApiImportCodebaseGithubRequest) Authorization(authorization string) ApiImportCodebaseGithubRequest {
	r.authorization = &authorization
	return r
}

func (r ApiImportCodebaseGithubRequest) Execute() (*CodebaseGithubImportResponse, *http.Response, error) {
	return r.ApiService.ImportCodebaseGithubExecute(r)
}

/*
ImportCodebaseGithub Import a public GitHub codebase

Resolve a public GitHub ref, download its archive, and build a deterministic codebase snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @return ApiImportCodebaseGithubRequest
*/
func (a *CodebasesAPIService) ImportCodebaseGithub(ctx context.Context, bankId string) ApiImportCodebaseGithubRequest {
	return ApiImportCodebaseGithubRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
	}
}

// Execute executes the request
//  @return CodebaseGithubImportResponse
func (a *CodebasesAPIService) ImportCodebaseGithubExecute(r ApiImportCodebaseGithubRequest) (*CodebaseGithubImportResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseGithubImportResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.ImportCodebaseGithub")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/import/github"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.codebaseImportGithubRequest == nil {
		return localVarReturnValue, nil, reportError("codebaseImportGithubRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.codebaseImportGithubRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImportCodebaseZipRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	archive *os.File
	request *string
	authorization *string
}

// Repository ZIP archive
func (r ApiImportCodebaseZipRequest) Archive(archive *os.File) ApiImportCodebaseZipRequest {
	r.archive = archive
	return r
}

// JSON string with CodebaseImportZipRequest model
func (r ApiImportCodebaseZipRequest) Request(request string) ApiImportCodebaseZipRequest {
	r.request = &request
	return r
}

func (r ApiImportCodebaseZipRequest) Authorization(authorization string) ApiImportCodebaseZipRequest {
	r.authorization = &authorization
	return r
}

func (r ApiImportCodebaseZipRequest) Execute() (*CodebaseImportResponse, *http.Response, error) {
	return r.ApiService.ImportCodebaseZipExecute(r)
}

/*
ImportCodebaseZip Import a codebase from ZIP

Upload a repository ZIP archive and build a deterministic codebase snapshot without cloning or LLM indexing.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @return ApiImportCodebaseZipRequest
*/
func (a *CodebasesAPIService) ImportCodebaseZip(ctx context.Context, bankId string) ApiImportCodebaseZipRequest {
	return ApiImportCodebaseZipRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
	}
}

// Execute executes the request
//  @return CodebaseImportResponse
func (a *CodebasesAPIService) ImportCodebaseZipExecute(r ApiImportCodebaseZipRequest) (*CodebaseImportResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseImportResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.ImportCodebaseZip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/import/zip"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.archive == nil {
		return localVarReturnValue, nil, reportError("archive is required and must be specified")
	}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	var archiveLocalVarFormFileName string
	var archiveLocalVarFileName     string
	var archiveLocalVarFileBytes    []byte

	archiveLocalVarFormFileName = "archive"
	archiveLocalVarFile := r.archive

	if archiveLocalVarFile != nil {
		fbs, _ := io.ReadAll(archiveLocalVarFile)

		archiveLocalVarFileBytes = fbs
		archiveLocalVarFileName = archiveLocalVarFile.Name()
		archiveLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: archiveLocalVarFileBytes, fileName: archiveLocalVarFileName, formFileName: archiveLocalVarFormFileName})
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "request", r.request, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCodebaseChunksRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	pathPrefix *string
	language *string
	clusterId *string
	routeTarget *string
	changedOnly *bool
	kind *string
	q *string
	limit *int32
	cursor *string
	snapshotId *string
	authorization *string
}

func (r ApiListCodebaseChunksRequest) PathPrefix(pathPrefix string) ApiListCodebaseChunksRequest {
	r.pathPrefix = &pathPrefix
	return r
}

func (r ApiListCodebaseChunksRequest) Language(language string) ApiListCodebaseChunksRequest {
	r.language = &language
	return r
}

func (r ApiListCodebaseChunksRequest) ClusterId(clusterId string) ApiListCodebaseChunksRequest {
	r.clusterId = &clusterId
	return r
}

func (r ApiListCodebaseChunksRequest) RouteTarget(routeTarget string) ApiListCodebaseChunksRequest {
	r.routeTarget = &routeTarget
	return r
}

func (r ApiListCodebaseChunksRequest) ChangedOnly(changedOnly bool) ApiListCodebaseChunksRequest {
	r.changedOnly = &changedOnly
	return r
}

func (r ApiListCodebaseChunksRequest) Kind(kind string) ApiListCodebaseChunksRequest {
	r.kind = &kind
	return r
}

func (r ApiListCodebaseChunksRequest) Q(q string) ApiListCodebaseChunksRequest {
	r.q = &q
	return r
}

func (r ApiListCodebaseChunksRequest) Limit(limit int32) ApiListCodebaseChunksRequest {
	r.limit = &limit
	return r
}

func (r ApiListCodebaseChunksRequest) Cursor(cursor string) ApiListCodebaseChunksRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListCodebaseChunksRequest) SnapshotId(snapshotId string) ApiListCodebaseChunksRequest {
	r.snapshotId = &snapshotId
	return r
}

func (r ApiListCodebaseChunksRequest) Authorization(authorization string) ApiListCodebaseChunksRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListCodebaseChunksRequest) Execute() (*CodebaseChunksResponse, *http.Response, error) {
	return r.ApiService.ListCodebaseChunksExecute(r)
}

/*
ListCodebaseChunks List codebase review chunks

Return cursor-paginated semantic chunks for the current codebase snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @return ApiListCodebaseChunksRequest
*/
func (a *CodebasesAPIService) ListCodebaseChunks(ctx context.Context, bankId string, codebaseId string) ApiListCodebaseChunksRequest {
	return ApiListCodebaseChunksRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
	}
}

// Execute executes the request
//  @return CodebaseChunksResponse
func (a *CodebasesAPIService) ListCodebaseChunksExecute(r ApiListCodebaseChunksRequest) (*CodebaseChunksResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseChunksResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.ListCodebaseChunks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}/chunks"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pathPrefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path_prefix", r.pathPrefix, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.clusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster_id", r.clusterId, "form", "")
	}
	if r.routeTarget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "route_target", r.routeTarget, "form", "")
	}
	if r.changedOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "changed_only", r.changedOnly, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.snapshotId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "snapshot_id", r.snapshotId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCodebaseFilesRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	pathPrefix *string
	language *string
	changedOnly *bool
	snapshotId *string
	authorization *string
}

// Only include files under this path prefix
func (r ApiListCodebaseFilesRequest) PathPrefix(pathPrefix string) ApiListCodebaseFilesRequest {
	r.pathPrefix = &pathPrefix
	return r
}

// Filter by detected language
func (r ApiListCodebaseFilesRequest) Language(language string) ApiListCodebaseFilesRequest {
	r.language = &language
	return r
}

// Only include changed or added files
func (r ApiListCodebaseFilesRequest) ChangedOnly(changedOnly bool) ApiListCodebaseFilesRequest {
	r.changedOnly = &changedOnly
	return r
}

// Optional snapshot override
func (r ApiListCodebaseFilesRequest) SnapshotId(snapshotId string) ApiListCodebaseFilesRequest {
	r.snapshotId = &snapshotId
	return r
}

func (r ApiListCodebaseFilesRequest) Authorization(authorization string) ApiListCodebaseFilesRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListCodebaseFilesRequest) Execute() (*CodebaseFilesResponse, *http.Response, error) {
	return r.ApiService.ListCodebaseFilesExecute(r)
}

/*
ListCodebaseFiles List codebase files

Return the repo map and filtered file listing for a codebase snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @return ApiListCodebaseFilesRequest
*/
func (a *CodebasesAPIService) ListCodebaseFiles(ctx context.Context, bankId string, codebaseId string) ApiListCodebaseFilesRequest {
	return ApiListCodebaseFilesRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
	}
}

// Execute executes the request
//  @return CodebaseFilesResponse
func (a *CodebasesAPIService) ListCodebaseFilesExecute(r ApiListCodebaseFilesRequest) (*CodebaseFilesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseFilesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.ListCodebaseFiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}/files"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pathPrefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path_prefix", r.pathPrefix, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.changedOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "changed_only", r.changedOnly, "form", "")
	}
	if r.snapshotId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "snapshot_id", r.snapshotId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCodebaseResearchQueueRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	cursor *string
	limit *int32
	authorization *string
}

func (r ApiListCodebaseResearchQueueRequest) Cursor(cursor string) ApiListCodebaseResearchQueueRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListCodebaseResearchQueueRequest) Limit(limit int32) ApiListCodebaseResearchQueueRequest {
	r.limit = &limit
	return r
}

func (r ApiListCodebaseResearchQueueRequest) Authorization(authorization string) ApiListCodebaseResearchQueueRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListCodebaseResearchQueueRequest) Execute() (*CodebaseChunksResponse, *http.Response, error) {
	return r.ApiService.ListCodebaseResearchQueueExecute(r)
}

/*
ListCodebaseResearchQueue List research queue items

Return chunks currently routed to the codebase research queue.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @return ApiListCodebaseResearchQueueRequest
*/
func (a *CodebasesAPIService) ListCodebaseResearchQueue(ctx context.Context, bankId string, codebaseId string) ApiListCodebaseResearchQueueRequest {
	return ApiListCodebaseResearchQueueRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
	}
}

// Execute executes the request
//  @return CodebaseChunksResponse
func (a *CodebasesAPIService) ListCodebaseResearchQueueExecute(r ApiListCodebaseResearchQueueRequest) (*CodebaseChunksResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseChunksResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.ListCodebaseResearchQueue")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}/research"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCodebasesRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	authorization *string
}

func (r ApiListCodebasesRequest) Authorization(authorization string) ApiListCodebasesRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListCodebasesRequest) Execute() (*CodebaseListResponse, *http.Response, error) {
	return r.ApiService.ListCodebasesExecute(r)
}

/*
ListCodebases List codebases

List imported codebases for a bank.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @return ApiListCodebasesRequest
*/
func (a *CodebasesAPIService) ListCodebases(ctx context.Context, bankId string) ApiListCodebasesRequest {
	return ApiListCodebasesRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
	}
}

// Execute executes the request
//  @return CodebaseListResponse
func (a *CodebasesAPIService) ListCodebasesExecute(r ApiListCodebasesRequest) (*CodebaseListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.ListCodebases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRefreshCodebaseRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	codebaseRefreshRequest *CodebaseRefreshRequest
	authorization *string
}

func (r ApiRefreshCodebaseRequest) CodebaseRefreshRequest(codebaseRefreshRequest CodebaseRefreshRequest) ApiRefreshCodebaseRequest {
	r.codebaseRefreshRequest = &codebaseRefreshRequest
	return r
}

func (r ApiRefreshCodebaseRequest) Authorization(authorization string) ApiRefreshCodebaseRequest {
	r.authorization = &authorization
	return r
}

func (r ApiRefreshCodebaseRequest) Execute() (*CodebaseRefreshResponse, *http.Response, error) {
	return r.ApiService.RefreshCodebaseExecute(r)
}

/*
RefreshCodebase Refresh a codebase snapshot

Refresh a GitHub-backed codebase by resolving the latest commit SHA and rebuilding a new reviewable ASD snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @return ApiRefreshCodebaseRequest
*/
func (a *CodebasesAPIService) RefreshCodebase(ctx context.Context, bankId string, codebaseId string) ApiRefreshCodebaseRequest {
	return ApiRefreshCodebaseRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
	}
}

// Execute executes the request
//  @return CodebaseRefreshResponse
func (a *CodebasesAPIService) RefreshCodebaseExecute(r ApiRefreshCodebaseRequest) (*CodebaseRefreshResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseRefreshResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.RefreshCodebase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}/refresh"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.codebaseRefreshRequest == nil {
		return localVarReturnValue, nil, reportError("codebaseRefreshRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.codebaseRefreshRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRouteCodebaseReviewItemsRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	codebaseRouteRequest *CodebaseRouteRequest
	authorization *string
}

func (r ApiRouteCodebaseReviewItemsRequest) CodebaseRouteRequest(codebaseRouteRequest CodebaseRouteRequest) ApiRouteCodebaseReviewItemsRequest {
	r.codebaseRouteRequest = &codebaseRouteRequest
	return r
}

func (r ApiRouteCodebaseReviewItemsRequest) Authorization(authorization string) ApiRouteCodebaseReviewItemsRequest {
	r.authorization = &authorization
	return r
}

func (r ApiRouteCodebaseReviewItemsRequest) Execute() (*CodebaseRouteResponse, *http.Response, error) {
	return r.ApiService.RouteCodebaseReviewItemsExecute(r)
}

/*
RouteCodebaseReviewItems Route review items

Bulk-route chunk review items to memory, research, dismissed, or back to unrouted.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @return ApiRouteCodebaseReviewItemsRequest
*/
func (a *CodebasesAPIService) RouteCodebaseReviewItems(ctx context.Context, bankId string, codebaseId string) ApiRouteCodebaseReviewItemsRequest {
	return ApiRouteCodebaseReviewItemsRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
	}
}

// Execute executes the request
//  @return CodebaseRouteResponse
func (a *CodebasesAPIService) RouteCodebaseReviewItemsExecute(r ApiRouteCodebaseReviewItemsRequest) (*CodebaseRouteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseRouteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.RouteCodebaseReviewItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}/review/route"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.codebaseRouteRequest == nil {
		return localVarReturnValue, nil, reportError("codebaseRouteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.codebaseRouteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchCodebaseSymbolsRequest struct {
	ctx context.Context
	ApiService *CodebasesAPIService
	bankId string
	codebaseId string
	q *string
	kind *string
	pathPrefix *string
	language *string
	limit *int32
	authorization *string
}

// Symbol query
func (r ApiSearchCodebaseSymbolsRequest) Q(q string) ApiSearchCodebaseSymbolsRequest {
	r.q = &q
	return r
}

// Optional symbol kind filter
func (r ApiSearchCodebaseSymbolsRequest) Kind(kind string) ApiSearchCodebaseSymbolsRequest {
	r.kind = &kind
	return r
}

// Only search under this path prefix
func (r ApiSearchCodebaseSymbolsRequest) PathPrefix(pathPrefix string) ApiSearchCodebaseSymbolsRequest {
	r.pathPrefix = &pathPrefix
	return r
}

// Filter by detected language
func (r ApiSearchCodebaseSymbolsRequest) Language(language string) ApiSearchCodebaseSymbolsRequest {
	r.language = &language
	return r
}

// Maximum number of symbol matches
func (r ApiSearchCodebaseSymbolsRequest) Limit(limit int32) ApiSearchCodebaseSymbolsRequest {
	r.limit = &limit
	return r
}

func (r ApiSearchCodebaseSymbolsRequest) Authorization(authorization string) ApiSearchCodebaseSymbolsRequest {
	r.authorization = &authorization
	return r
}

func (r ApiSearchCodebaseSymbolsRequest) Execute() (*CodebaseSymbolsResponse, *http.Response, error) {
	return r.ApiService.SearchCodebaseSymbolsExecute(r)
}

/*
SearchCodebaseSymbols Search codebase symbols

Search deterministic symbols by exact, prefix, or fuzzy match.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankId
 @param codebaseId
 @return ApiSearchCodebaseSymbolsRequest
*/
func (a *CodebasesAPIService) SearchCodebaseSymbols(ctx context.Context, bankId string, codebaseId string) ApiSearchCodebaseSymbolsRequest {
	return ApiSearchCodebaseSymbolsRequest{
		ApiService: a,
		ctx: ctx,
		bankId: bankId,
		codebaseId: codebaseId,
	}
}

// Execute executes the request
//  @return CodebaseSymbolsResponse
func (a *CodebasesAPIService) SearchCodebaseSymbolsExecute(r ApiSearchCodebaseSymbolsRequest) (*CodebaseSymbolsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CodebaseSymbolsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CodebasesAPIService.SearchCodebaseSymbols")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/default/banks/{bank_id}/codebases/{codebase_id}/symbols"
	localVarPath = strings.Replace(localVarPath, "{"+"bank_id"+"}", url.PathEscape(parameterValueToString(r.bankId, "bankId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"codebase_id"+"}", url.PathEscape(parameterValueToString(r.codebaseId, "codebaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}
	if strlen(*r.q) < 1 {
		return localVarReturnValue, nil, reportError("q must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.pathPrefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path_prefix", r.pathPrefix, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
